

.bigblue {
    background-color: #7fffd4!important;
    font-family: Sans-Serif;
    text-align: center;
    height: '80px' ;
  }


  .background-red {
    background-color: red;
  }
  
  .background-blue {
    background-color: blue;
  }