.logo{
    width: 60%;
  }
.accountlogo{
    width: 100px;
    position: fixed;
    top: 0;
    right: 0;
    

}

.menu{
    background-color: white;
    border: none;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 60%;
    text-decoration: none;
  
  }
  .bigblue {
    background-color: rgba(128, 128, 128, 0.604)!important;
    font-family: Sans-Serif;
    text-align: center;
  }
